/** General **/
::-webkit-input-placeholder {
   text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}
::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}
:-ms-input-placeholder {  
   text-align: center; 
}
input { 
  text-align: center; 
}
.bg-blue {
  background-color: #2C0E64;
}
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #ddd;
	z-index: 99999;
	height: 100%;
}

#status {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 64px;
	height: 64px;
	margin: -32px 0 0 -32px;
	padding: 0;
}
.section-subheading {
 font-family: 'Tinos', serif;
 font-style: italic;	
}

/** Navigation **/

#mainNav nav .container {
  padding:10px 0px;
}

#mainNav .navbar-brand, .navbar-brand {
  font-family: 'Kaushan Script', cursive;
  font-weight: 500;
  font-size: 32px;
  padding: 15px 0px;
}

#mainNav.navbar-shrink .navbar-brand {
  font-size: 24px;
  padding: 5px 0px;
}

/** Header **/
header.masthead .header-content .header-content-inner p {
  color:#fff;
  font-size: 22px;
}

/** Pricing **/
#pricing {
  background-color: #eeeeee;
}
#pricing .card{
  margin-bottom:20px;
}
#pricing p.price {
  font-size:72px;
  line-height: 1.25;
  margin-bottom: 0px;
}
#pricing p.price small {
  font-size:25%;
}
#pricing .kzd-starter .card-header,
#pricing .kzd-starter .card-link {
  background-color: #11a9c1;
}
#pricing .kzd-basic .card-header, 
#pricing .kzd-basic .card-link {
  background-color: #2C0E64;
}

#pricing .kzd-enterprize .card-link {
  background-color: #333333;
}

/** Leads **/
#lead-growth h2 {
  font-weight: 700;
}

#lead-growth .form-input-text {
  padding: 15px;
  border: none;
  border-radius: 26px;
  margin-bottom: 20px;
}

